{% extends 'data_table/table_list.html' %}

{% block query_table %}
<!-- 内容主体区域 -->
<div class="layui-form-item" lay-filter="test">
  <div class="layui-input-block">
    <label>数据日期</label>
    <div class="layui-inline">
      <input type="text" class="layui-input" id="test1" lay-filter="laydate" autocomplete="off">
    </div>
    <button class="layui-btn" lay-submit lay-filter="submit">查询</button>
    <button id="reset" class="layui-btn">重置</button>
    <label>排片中心</label>
    <div class="layui-inline layui-form" id="center_se">
      <select name="center_val" id="center_val" lay-filter="film_center">
        <option value="">请选择</option>
        <option value="南排片中心">南排片中心</option>
        <option value="北排片中心">北排片中心</option>
      </select>
    </div>
    <label>同城</label>
    <div class="layui-inline layui-form" id="city_se">
      <select name="city_val" id="city_val" lay-filter="film_city">
        <option value="">请选择</option>
      </select>
    </div>
    <label>影城</label>
    <div class="layui-inline layui-form" id="cinema_se">
      <select name="cinema_val" id="cinema_val" lay-filter="film_cinema">
        <option value="">请选择</option>
      </select>
    </div>
  </div>
</div>
<div>
    <table id="table1" lay-filter="table"></table>
  </div>
{% endblock query_table %}

{% block script %}
<script src="{{ url_for('static', filename='layui/layui.js') }}"></script>

<script>
//JavaScript代码区域
layui.use(['layer','laydate','form','table'], function(){
  var layer = layui.layer,
  laydate = layui.laydate,
  form = layui.form,
  table = layui.table;

  //重置键
  document.getElementById("reset").onclick=function(){
  document.getElementById("test1").value = "";
  document.getElementById("center_val").value = "";
  document.getElementById("city_val").value = "";
  document.getElementById("cinema_val").value = "";
  form.render();
}
  
  //导航选择高亮
  document.getElementById("film_cinema").parentElement.className += " layui-bg-green";

  laydate.render({
    elem: '#test1',
    calendar:true,
    mark:{
      "2021-02-11":"除夕",
      "2021-02-12":"春节",
      "2021-02-13":"初二",
      "2021-02-14":"初三"
    }
  });

  form.render("select");

  //获取同城列表
  form.on("select(film_center)",function(data){
    var center_val = data.value;
    console.log(center_val);
    if (center_val != ""){
      $.ajax({
      type:"get",
      url:"/data/area/api?area_field=film_center&area_value=" + center_val,
      dataType:"json",
      success:function(d){
        var citylist = d.result;
        var tmp = '<option value="">请选择</option>';
        $("#city_val").html(tmp);
        for (var city in citylist){
          tmp += '<option value="' + citylist[city] + '">' + citylist[city] + '</option>';
        }
        $("#city_val").html(tmp);
        form.render();
      },
    });
    }
  });

  //获取影城列表
  form.on("select(film_city)",function(data){
    var city_val = data.value;
    console.log(city_val);
    if (city_val != ""){
      $.ajax({
      type:"get",
      url:"/data/area/api?area_field=city&area_value=" + city_val,
      dataType:"json",
      success:function(d){
        var cinemalist = d.result;
        var tmp = '<option value="">请选择</option>';
        $("#cinema_val").html(tmp);
        for (var cinema in cinemalist){
          tmp += '<option value="' + cinemalist[cinema] + '">' + cinemalist[cinema] + '</option>';
        }
        $("#cinema_val").html(tmp);
        form.render();
      },
    });
    }
  });

  form.on('submit(submit)',function(){
    var input = document.getElementById("test1");
    var date1 = input.value;
    var select1 = document.getElementById("center_val");
    var center_val = select1.value;
    var select2 = document.getElementById("city_val");
    var city_val = select2.value;
    var select3 = document.getElementById("cinema_val");
    var cinema_val = select3.value;

    // 接口url选择
    var data_url;
    if (cinema_val == ""){
      data_url = "/data/api?table=film_cinema&area_field=city&area_value=" + city_val + "&date=" + date1;
    }
    else if (city_val == ""){
      data_url = "/data/api?table=film_cinema&area_field=film_center&area_value=" + center_val + "&date=" + date1;
    }
    else if (center_val == ""){
      data_url = "/data/api?table=film_cinema&date=" + date1;
    }
    else{
      data_url = "/data/api?table=film_cinema&area_field=cinema&area_value=" + cinema_val + "&date=" + date1;
    }

    //渲染表格
    table.render({
      elem:"#table1",
      height:"full-30",
      limit:30,
      limits:[10,30,50,100],
      url:data_url,
      parseData:function(res){
        console.log(res)
        return {
          "code":res.code,
          "msg":res.msg,
          "data":res.result,
          "count":res.total
        }
      },
      page:true,
      toolbar:true,
      defaultToolbar:["filter","exports"],
      cols:[[
        {field:"cinema",title:"影城",width:150,fixed:"left"},
        {field:"city",title:"同城",width:100,fixed:"left"},
        {field:"film_center",title:"排片中心",width:100,fixed:"left"},
        {field:"film",title:"影片",width:150,fixed:"left",sort:true},
        {field:"session",title:"场次",width:100},
        {field:"session_percent",title:"场次占比%",width:120,sort:true},
        {field:"people",title:"人次",width:100},
        {field:"people_percent",title:"人次占比%",width:120,sort:true},
        {field:"seats",title:"总座位数",width:100},
        {field:"seats_percent",title:"排座占比%",width:120,sort:true},
        {field:"bo",title:"票房",width:100},
        {field:"bo_percent",title:"票房占比%",width:120,sort:true},
        {field:"jy_ratio",title:"金逸供需",width:100},
        {field:"arrange_film_effect",title:"排座效率",width:100},
        {field:"arrange_film_benefit",title:"排座效益",width:100},
        {field:"occupancy",title:"上座率%",width:100},
        {field:"people_per_session",title:"场均人次",width:100},
        {field:"op_date",title:"票房日期",width:150}
      ]],

    });
  });

});
</script>
{% endblock script %}