<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}金逸数据中心{% endblock title %}</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='logo.ico')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
        {% endblock head %}
    </head>
    <body>
        <nav><ul><li><a href="{{ url_for('login') }}">主页</a></li></ul></nav>
        {% block body%}{% endblock body %}
        {% block form %}{% endblock form %}
    </body>
</html>