<!DOCTYPE html>
<style type="text/css">
  body{
    overflow: auto;
  }
</style>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>排片数据查询系统</title>
  <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='/static/report.ico')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='layui/css/layui.css')}}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    {% if session["user_auth_role"] == "admin" %}
      <a href="{{ url_for('admin.table_list') }}">
    {% elif session["user_auth_role"] == "city" %}
      <a href="{{ url_for('city.table_list') }}">
    {% elif session["user_auth_role"] == "cinema" %}
      <a href="{{ url_for('cinema.table_list') }}">
    {% endif %}
      <div class="layui-logo">排片数据查询系统</div>
    </a>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      {% if session["user_auth_role"] == "admin" %}
        <li class="layui-nav-item" id="table_list"><a href="{{ url_for('admin.table_list')}}">数据报表</a></li>
        <li class="layui-nav-item" id="chart_list"><a href="{{ url_for('admin.chart_list')}}">预售走势</a></li>
        <li class="layui-nav-item" id="predict_list"><a href="{{ url_for('admin.predict_list') }}">票房预测</a></li>
      {% elif session["user_auth_role"] == "city" %}
        <li class="layui-nav-item" id="table_list"><a href="{{ url_for('city.table_list')}}">数据报表</a></li>
        <li class="layui-nav-item" id="chart_list"><a href="{{ url_for('city.chart_list')}}">预售走势</a></li>
        <li class="layui-nav-item" id="predict_list"><a href="{{ url_for('city.predict_list') }}">票房预测</a></li>
      {% elif session["user_auth_role"] == "cinema" %}
        <li class="layui-nav-item" id="table_list"><a href="{{ url_for('cinema.table_list')}}">数据报表</a></li>
        <li class="layui-nav-item" id="chart_list"><a href="{{ url_for('cinema.chart_list')}}">预售走势</a></li>
        <li class="layui-nav-item" id="predict_list"><a href="{{ url_for('cinema.predict_list') }}">票房预测</a></li>
      {% endif %}
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item"><a>数据更新时间：{{ update_time }}</a></li>
      <li class="layui-nav-item">
        <a>{{ session.usermsg }}</a>
        <!-- <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl> -->
      </li>
      <li class="layui-nav-item"><a href="{{ url_for('login') }}">退出</a></li>
    </ul>
  </div>

  {% block item_list %}

  {% endblock item_list %}

  <div class="layui-body">

    {% block query_table %}

    {% endblock query_table %}
  </div>

</div>

<script src="{{ url_for('static',filename='layui/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='layui/echarts.min.js') }}"></script>
<!-- 登出处理 -->
{% block script %}

{% endblock script %}
</body>
</html>